html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
  font-family: PlayfairDisplay;
  background-color: #E0ECFA;
}

body header {
  height: 16vh;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #0f77ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header a img {
  overflow: hidden;
  width: 12vh;
  height: 12vh;
  margin: 10px 2vw;
  border-radius: 50%;
}

body header .header__burger {
  display: none;
}

body header .header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .header__items .header__item {
  margin: 2vw;
}

body header .header__items .header__item a {
  text-decoration: none;
  color: #E0ECFA;
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
}

body header .header__items .header__item:last-child {
  margin-right: 4vw;
}

body section.title {
  margin-top: 16vh;
  background: url(../img/header_bg.jpg);
  background-size: cover;
  height: 80vh;
}

body section.title h3 {
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  color: #30D5C8;
  padding: 4vh 3vw;
}

body section.title .title__cards {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 75vh;
}

body section.title .title__cards .cards__item {
  height: 30vh;
  background-color: #449EDC;
  width: 25vw;
  color: #E0ECFA;
}

body section.title .title__cards .cards__item h4 {
  font-size: calc(28px + 7 * ((100vw - 320px) / 680));
  padding: 1vh 1vw;
}

body section.title .title__cards .cards__item p {
  padding: 1vh 1vw;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

body section.title .title__cards .cards__item:last-child {
  margin-top: 6vh;
}

body section.description {
  margin-top: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body section.description h3 {
  margin: 2vh auto;
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  color: #30D5C8;
  font-weight: 700;
}

body section.description p {
  font-weight: 700;
  width: 70%;
  margin: 1vh auto;
  color: #30D5C8;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  text-align: center;
  text-indent: 0vh;
  line-height: 4vh;
}

body section.description p::after {
  display: block;
  content: "";
  width: 80%;
  height: 4px;
  background-color: #30D5C8;
  margin: 2vh auto;
}

@media (max-width: 768px) {
  body header {
    height: 16vh;
    display: block;
    z-index: 101;
  }
  body header .wrapper {
    z-index: 102;
    background-color: #0f77ac;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .wrapper .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3vh;
  }
  body header .wrapper .header__burger span {
    position: relative;
    margin-top: 5px;
    display: block;
    width: 40px;
    height: 7px;
    content: "";
    background-color: #30D5C8;
  }
  body header .header__items {
    -webkit-transition: all .3s;
    transition: all .3s;
    top: -100vh;
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #449EDC;
    text-align: center;
    height: 100vh;
  }
  body header .header__items .header__item {
    margin: 6vh 0;
  }
  body header .header__items .header__item:first-child {
    margin-top: 20vh;
  }
  body header .header__items .header__item::after {
    display: block;
    content: "";
    background-color: #E0ECFA;
    width: 50%;
    height: 3px;
    margin: 2vh auto;
  }
  body header .header__items .header__item:last-child {
    margin-right: 0;
  }
  body header .header__items.active {
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0vh;
  }
  body section.title h3 {
    text-align: center;
    font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  }
  body section.title .title__cards {
    top: 70vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section.title .title__cards .cards__item {
    height: 18vh;
    width: 80vw;
    text-align: center;
  }
}
