html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

button {
  background-color: #E0ECFA;
  color: #30D5C8;
  border: 0.5vh solid #30D5C8;
  width: 15vw;
  height: 10vh;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  font-family: PlayfairDisplay;
  transition: all .3s;
}

button:hover {
  background-color: #30D5C8;
  border: 0.5vh solid #E0ECFA;
  color: #E0ECFA;
  transition: all .3s;
}

body {
  font-family: PlayfairDisplay;
  background-color: #E0ECFA;
}

body header {
  z-index: 100;
  height: 16vh;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #0f77ac;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body header a img {
  overflow: hidden;
  width: 12vh;
  height: 12vh;
  margin: 10px 2vw;
  border-radius: 50%;
}

body header .header__burger {
  display: none;
}

body header .header__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body header .header__items .header__item {
  margin: 2vw;
}

body header .header__items .header__item a {
  text-decoration: none;
  color: #E0ECFA;
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
}

body header .header__items .header__item:last-child {
  margin-right: 4vw;
}

body section.title {
  margin-top: 16vh;
  background: url(../img/header_bg.jpg);
  background-size: cover;
  height: 80vh;
}

body section.title h3 {
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  color: #30D5C8;
  padding: 4vh 3vw;
}

body section.title .title__cards {
  z-index: 1;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 75vh;
}

body section.title .title__cards .cards__item {
  height: 30vh;
  background-color: #449EDC;
  width: 25vw;
  color: #E0ECFA;
}

body section.title .title__cards .cards__item h4 {
  font-size: calc(28px + 7 * ((100vw - 320px) / 680));
  padding: 1vh 1vw;
}

body section.title .title__cards .cards__item p {
  padding: 1vh 1vw;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

body section.title .title__cards .cards__item:last-child {
  margin-top: 6vh;
}

body section.description {
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

body section.description h3 {
  margin: 2vh auto;
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  color: #30D5C8;
  font-weight: 700;
  text-align: center;
}

body section.description p {
  font-weight: 700;
  width: 70%;
  margin: 1vh auto;
  color: #30D5C8;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  text-align: center;
  text-indent: 0vh;
  line-height: 4vh;
}

body section.description p::after {
  display: block;
  content: "";
  width: 80%;
  height: 4px;
  background-color: #30D5C8;
  margin: 2vh auto;
}

body section.advantages {
  background-color: #449EDC;
  width: 100%;
  margin: 10vh 0;
}

body section.advantages h4 {
  width: 60vw;
  text-align: center;
  margin: auto;
  padding-top: 2vh;
  color: #E0ECFA;
  font-size: calc(42px + 6 * ((100vw - 320px) / 680));
}

body section.advantages .advantages__items {
  padding: 1vh 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body section.advantages .advantages__items .advantages__item {
  border-radius: 50% 20% / 10% 40%;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 30%;
  background-color: #E0ECFA;
  margin: 4vh 0;
}

body section.advantages .advantages__items .advantages__item img {
  overflow: hidden;
  width: 30%;
  height: 20vh;
  border-radius: 50% 20% / 10% 40%;
}

body section.advantages .advantages__items .advantages__item p {
  width: 55%;
  color: #30D5C8;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  font-weight: 700;
}

body section.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body section.rooms .room__slider {
  width: 60%;
  border: 1px solid black;
  height: 77vh;
  display: flex;
  flex-direction: column-reverse;
}

body section.rooms .room__slider .slider__item img {
  position: relative;
  width: 100%;
  height: 77vh;
}

body section.rooms .room__slider .slider__item .text__wrapper {
  position: absolute;
  background-color: #449fdc7c;
  width: 14.1%;
  height: 20vh;
  top: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh;
}

body section.rooms .room__slider .slider__item .text__wrapper p {
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  color: #E0ECFA;
}

body section.rooms .room__preview {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

body section.rooms .room__preview .preview__item {
  margin-bottom: 3vh;
}

body section.rooms .room__preview .preview__item a img {
  border-radius: 20% / 50%;
  height: 22vh;
  width: 15vw;
  border: 6px solid #449EDC;
}

@media (max-width: 768px) {
  body header {
    height: 16vh;
    display: block;
    z-index: 101;
  }
  body header .wrapper {
    z-index: 102;
    background-color: #0f77ac;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  body header .wrapper .header__burger {
    display: flex;
    flex-direction: column;
    margin: 3vh;
  }
  body header .wrapper .header__burger span {
    position: relative;
    margin-top: 5px;
    display: block;
    width: 40px;
    height: 7px;
    content: "";
    background-color: #30D5C8;
  }
  body header .header__items {
    overflow: hidden;
    transition: all .3s;
    top: -100vh;
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
    flex-direction: column;
    background-color: #449EDC;
    text-align: center;
    height: 100vh;
  }
  body header .header__items .header__item {
    margin: 6vh 0;
  }
  body header .header__items .header__item:first-child {
    margin-top: 20vh;
  }
  body header .header__items .header__item::after {
    display: block;
    content: "";
    background-color: #E0ECFA;
    width: 50%;
    height: 3px;
    margin: 2vh auto;
  }
  body header .header__items .header__item:last-child {
    margin-right: 0;
  }
  body header .header__items.active {
    transition: all .3s;
    top: 0vh;
  }
  body section.title h3 {
    text-align: center;
    font-size: calc(42px + 6 * ((100vw - 320px) / 680));
  }
  body section.title .title__cards {
    top: 70vh;
    flex-direction: column;
    align-items: center;
  }
  body section.title .title__cards .cards__item {
    height: 18vh;
    width: 80vw;
    text-align: center;
  }
  body section.advantages .advantages__items .advantages__item {
    width: 40%;
  }
  body section.rooms .room__slider {
    width: 90%;
  }
  body section.rooms .room__preview {
    display: none;
    width: 0%;
  }
}

@media (max-width: 425px) {
  body section.advantages .advantages__items .advantages__item {
    width: 80%;
  }
  body section.advantages .advantages__items .advantages__item p {
    font-size: 20px;
  }
}
