@import "__nullStyle.scss";
@import "__variables.scss";

button{
    background-color: $SSColor;
    color: $SFColor;
    border: .5vh solid $SFColor;
    width: 15vw;
    height: 10vh;
    font-size: $regularFS;
    font-family: $mainFont;
    transition: all .3s;

    &:hover{
        background-color: $SFColor;
        border: .5vh solid $SSColor;
        color: $SSColor;

        transition: all .3s;

    }
    &:focus{
        outline: none;
    }
}

body{
    font-family: $mainFont;
    background-color: $SSColor;
    header{
        z-index: 100;
        height: 13vh;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: $MSColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            img{
                    overflow: hidden;
                    width: 10vh;
                    height: 10vh;
                    margin: 10px 2vw;
            }
        }
        .header__burger{
            display: none;
        }
        .header__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .header__item{
                margin: 2vw;
                a{
                    text-decoration: none;
                    color: $SSColor;
                    font-size: $largetitleFS;
                    transition: all .3s;
                    &:hover{
                        color: $SFColor;
                        transition: all .3s;
                    }
                }
                &:last-child{
                    margin-right: 4vw;
                }
            }
        }

    }
    section{
        &.title{
            margin-top: 13vh;
            background: url(../img/header_bg.jpg);
            background-size: cover;
            height: 80vh;
            h3{
                font-size: $largetitleFS;
                color: $SFColor;
                padding: 4vh 3vw;
            }
            .title__cards{
                z-index: 1;
                width: 100%;
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                top: 75vh;
                .cards__item{
                    transition: all .3s;
                    height: 30vh;
                    background-color: $MFColor;
                    width: 25vw;
                    color: $SSColor;
                    h4{
                        font-size: $titleFS;
                        padding: 1vh 1vw;
                    }
                    p{
                        padding: 1vh 1vw;
                        font-size: $regularFS;
                    }
                    &:last-child{
                        margin-top: 6vh;
                    }
                    &:hover{
                        transition: all .3s;
                        box-shadow: 0 0 10px black;
                    }
                }
            }
        }
        &.description{
            margin-top: 18vh;
            display: flex;
            flex-direction: column;
            width: 100%;
            h3{
                margin: 2vh auto;
                font-size: $largetitleFS;
                color: $SFColor;
                font-weight: 700;
                text-align: center;
            }
            p{
                font-weight: 700;
                width: 70%;
                margin: 1vh auto;
                color: $SFColor;
                font-size: $regularFS;
                text-align: center;
                text-indent: 0vh;
                line-height: 4vh;

                &::after{
                    display: block;
                    content: "";
                    width: 80%;
                    height: 4px;
                    background-color: $SFColor;
                    margin: 2vh auto;
                }
            }
        }
        &.advantages{
            background-color: $MFColor;
            width: 100%;
            margin: 10vh 0;
            h4{
                width: 60vw;
                text-align: center;
                margin: auto;
                padding-top: 2vh;
                color: $SSColor;
                font-size: $largetitleFS;
            }
            .advantages__items{
                padding: 1vh 1vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .advantages__item{
                    border-radius:  50% 20% / 10% 40%;
                    padding: 2vh;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    width: 30%;
                    
                    background-color: $SSColor;
                    margin: 4vh 0;
                    img{
                        overflow: hidden;
                        width: 30%;
                        height: 20vh;
                        border-radius:  50% 20% / 10% 40%;
                    }
                    p{
                        width: 55%;
                        color: $SFColor;
                        font-size: $regularFS;
                        font-weight: 700;
                    }
                }
                
            }
        }
        &.rooms{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            h4{
                width: 100%;
                font-size: $largetitleFS;
                text-align: center;
                color: $SFColor;
                margin-bottom: 3vh;
                &::after{
                    display: block;
                    content: "";
                    width: 80%;
                    height: 4px;
                    background-color: $SFColor;
                    margin: 1vh auto 0;
                }
            }
            .room__slider{
                border: 2px solid $MFColor;
                width: 60%;
                height: 77vh;

                display: flex;
                flex-direction: column-reverse;
                .slider__item{
                   img{
                       position: relative;
                       width: 100%;
                       height: 77vh;
                   }
                   .text__wrapper{
                       position: absolute;
                       background-color: #449fdc7c;
                       width: 14.1%;
                       height: 20vh;
                       top: 55vh;

                       display: flex;
                       flex-direction: column;
                       justify-content: space-between;
                       padding: 1vh;
                       p{
                           font-size: $regularFS;
                           color: $SSColor;
                       }
                   }
                }
                
            }
            .room__preview{
                width: 20%;

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                .preview__item{
                    margin-bottom: 3vh;
                    a{
                        img{
                            transition: all .3s;
                            border-radius:20% / 50%;
                            height: 22vh;
                            width: 15vw;
                            border: 6px solid $MFColor;
                            &:hover{
                                transition: all .3s;
                                border: 6px solid $SFColor;
                            }
                        }
                    }
                }
            }
        }
        &.enviroment{
            height: 58vh;
            margin: 10vh 0;
            background-color: $MFColor;
            h4{
                font-size: $largetitleFS;
                color: $SSColor;
                padding-top: 2vh;
                width: 100%;
                text-align: center;
            }
            .enviroment__slider{
                margin-top: 5vh;
                margin-bottom: 5vh;
                width: 100%;
                .slick-slide{
                    
                    transition: all .3s;
                    filter: grayscale(.5);
                    &.slick-center{
                        transition: all .3s;
                        transform: scale(1.15);
                        filter: grayscale(0);
                    }
                }
                .slider__item{
                    img{
                        border-radius: 91px 91px 91px 91px / 95px 95px 95px 95px;
                        width: 90%;
                        height: 40vh;
                        margin: auto;
                    }
                    
                    filter: grayscale(0);
                }
                
            }
        }
        &.map{
            margin-top: 10vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            h4{
                width: 100%;
                font-size: $largetitleFS;
                color: $SFColor;
                margin-bottom: 3vh;
                text-align: center;
                &::after{
                    display: block;
                    content: "";
                    width: 80%;
                    height: 4px;
                    background-color: $SFColor;
                    margin: 1vh auto 0;
                }
            }
            .description{
                padding: 2%;
                width: 26%;
                background-color: $MFColor;
    
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                img{
    
                    width: 5vw;
                    height: 5vh;
                }
                p{
                    color: $SSColor;
                    width: 80%;
                    font-size: $regularFS;
                }
                button{
                    margin: auto;
                }
    
            }
            .position{
                width: 70%;
            }
        }
    }
}

@media (max-width: 768px) {
    body{
        header{
            height: 13vh;
            display: block;
            
            z-index: 101;
            .wrapper{
                z-index: 102;
                background-color: $MSColor;
                position: relative;
                display: flex;
                justify-content: space-between;
                .header__burger{
                    display: flex;
                    flex-direction: column;
                    margin: 3vh;
                    span{
                        position: relative;
                        margin-top: 5px;
                        display: block;
                        width: 40px;
                        height: 7px;
                        content: "";
                        background-color: $SFColor;
                    }
                }
            }    
            
            .header__items{
                overflow: hidden;
                transition: all .3s ;
                top: -100vh;
                display: block;
                z-index: 100;
                position: absolute;
                width: 100%;
                flex-direction: column;
                background-color: $MFColor;
                text-align: center;
                height: 100vh;

                .header__item{
                    &:first-child{
                        margin-top: 20vh;
                    }
                    margin: 6vh 0;
                    &::after{
                        display: block;
                        content:"";
                        background-color: $SSColor;
                        width: 50%;
                        height: 3px;
                        margin: 2vh auto;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                &.active{
                    transition: all .3s ;
                    top: 0vh;
                }
            }
        }
        section{
            &.title{
                h3{
                    text-align: center;
                    font-size: $largetitleFS;
                }
                .title__cards{
                    top: 70vh;
                    flex-direction: column;
                    align-items: center;
                    .cards__item{
                        height: 18vh;
                        width: 80vw;
                        text-align: center;
                    }
                }
            }
            &.advantages{
                .advantages__items{ 
                    .advantages__item{
                        width: 40%;
                        p{
                            
                            font-size: 20px;
                        }
                    }
                }
            }
            &.rooms{
                .room__slider{
                    width: 90%;
                    height: 50vh;
                    .slider__item{
                        img{
                            height: 50vh;
                        }
                        .text__wrapper{
                            top: 30vh;
                            height: 18vh;
                            p{
                                margin: auto;
                                font-size: 20px;
                            }
                            button{
                                width: 60%;
                                margin: auto;
                                font-size: 20px;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .room__preview{
                    display: none;
                    width: 0%;
                }
            }
            &.map{
                margin-top: 0;
                .description{
                    button{
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 520px) {
    body{
        section{
            &.advantages{
                .advantages__items{
                    .advantages__item{
                        width: 80%;
                        p{
                            
                        font-size: 20px;
                        }
                    }
                }
            }
            &.rooms{
                .room__slider{
                    .slider__item{
                        .text__wrapper{
                            p{
                                font-size: 18px;
                                
                            }
                            button{
                                margin-top: 8px;
                                width: 90%;
                            }
                        }
                    }
                }
            }
            
        }
    }
}