@import "__nullStyle.scss";
@import "__variables.scss";

body{
    font-family: $mainFont;
    background-color: $SSColor;
    header{
        z-index: 100;
        height: 16vh;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: $MSColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            img{
                    overflow: hidden;
                    width: 12vh;
                    height: 12vh;
                    margin: 10px 2vw;
                    border-radius: 50%;
            }
        }
        .header__burger{
            display: none;
        }
        .header__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .header__item{
                margin: 2vw;
                a{
                    text-decoration: none;
                    color: $SSColor;
                    font-size: $largetitleFS;
                }
                &:last-child{
                    margin-right: 4vw;
                }
            }
        }

    }
    section{
        &.title{
            margin-top: 16vh;
            background: url(../img/header_bg.jpg);
            background-size: cover;
            height: 80vh;
            h3{
                font-size: $largetitleFS;
                color: $SFColor;
                padding: 4vh 3vw;
            }
            .title__cards{
                z-index: 1;
                width: 100%;
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                top: 75vh;
                .cards__item{
                    height: 30vh;
                    background-color: $MFColor;
                    width: 25vw;
                    color: $SSColor;
                    h4{
                        font-size: $titleFS;
                        padding: 1vh 1vw;
                    }
                    p{
                        padding: 1vh 1vw;
                        font-size: $regularFS;
                    }
                    &:last-child{
                        margin-top: 6vh;
                    }
                }
            }
        }
        &.description{
            margin-top: 18vh;
            display: flex;
            flex-direction: column;
            width: 100%;
            h3{
                margin: 2vh auto;
                font-size: $largetitleFS;
                color: $SFColor;
                font-weight: 700;
            }
            p{
                font-weight: 700;
                width: 70%;
                margin: 1vh auto;
                color: $SFColor;
                font-size: $regularFS;
                text-align: center;
                text-indent: 0vh;
                line-height: 4vh;

                &::after{
                    display: block;
                    content: "";
                    width: 80%;
                    height: 4px;
                    background-color: $SFColor;
                    margin: 2vh auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body{
        header{
            height: 16vh;
            display: block;
            
            z-index: 101;
            .wrapper{
                z-index: 102;
                background-color: $MSColor;
                position: relative;
                display: flex;
                justify-content: space-between;
                .header__burger{
                    display: flex;
                    flex-direction: column;
                    margin: 3vh;
                    span{
                        position: relative;
                        margin-top: 5px;
                        display: block;
                        width: 40px;
                        height: 7px;
                        content: "";
                        background-color: $SFColor;
                    }
                }
            }    
            
            .header__items{
                overflow: hidden;
                transition: all .3s ;
                top: -100vh;
                display: block;
                z-index: 100;
                position: absolute;
                width: 100%;
                flex-direction: column;
                background-color: $MFColor;
                text-align: center;
                height: 100vh;

                .header__item{
                    &:first-child{
                        margin-top: 20vh;
                    }
                    margin: 6vh 0;
                    &::after{
                        display: block;
                        content:"";
                        background-color: $SSColor;
                        width: 50%;
                        height: 3px;
                        margin: 2vh auto;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                &.active{
                    transition: all .3s ;
                    top: 0vh;
                }
            }
        }
        section{
            &.title{
                h3{
                    text-align: center;
                    font-size: $largetitleFS;
                }
                .title__cards{
                    top: 70vh;
                    flex-direction: column;
                    align-items: center;
                    .cards__item{
                        height: 18vh;
                        width: 80vw;
                        text-align: center;
                    }
                }
            }
        }
    }
}