@import "__nullStyle.scss";
@import "__variables.scss";

body{
    font-family: $mainFont;
    background-color: $SSColor;
    header{
        position: fixed;
        width: 100%;
        background-color: $MSColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            img{
                    overflow: hidden;
                    width: 12vh;
                    height: 12vh;
                    margin: 10px 2vw;
                    border-radius: 50%;
            }
        }
        .header__burger{
            display: none;
        }
        .header__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .header__item{
                margin: 2vw;
                a{
                    text-decoration: none;
                    color: $SFColor;
                    font-size: $largetitleFS;
                }
                &:last-child{
                    margin-right: 4vw;
                }
            }
        }

    }
}

@media (max-width: 768px) {
    body{
        header{
            display: block;
            
            z-index: 101;
            .wrapper{
                z-index: 102;
                background-color: $MSColor;
                position: relative;
                display: flex;
                justify-content: space-between;
                .header__burger{
                    display: flex;
                    flex-direction: column;
                    margin: 3vh;
                    span{
                        position: relative;
                        margin-top: 5px;
                        display: block;
                        width: 40px;
                        height: 7px;
                        content: "";
                        background-color: $SFColor;
                    }
                }
            }    
            
            .header__items{
                transition: all .3s ;
                top: -100vh;
                display: block;
                z-index: 100;
                position: absolute;
                width: 100%;
                flex-direction: column;
                background-color: $MFColor;
                text-align: center;
                height: 100vh;

                .header__item{
                    &:first-child{
                        margin-top: 20vh;
                    }
                    margin: 6vh 0;
                    &::after{
                        display: block;
                        content:"";
                        background-color: $SSColor;
                        width: 50%;
                        height: 3px;
                        margin: 2vh auto;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                &.active{
                    transition: all .3s ;
                    top: 0vh;
                }
            }
        }
    }
}